@import "scss/null.scss";
@import "scss/margins.scss";

:root {
  --dark-color: #000000;
  --dark-hover-color: #161616;
  --grey-color: rgb(0, 0, 0, 0.6);
  --grey-hover-color: rgb(0, 0, 0, 0.4);
  --light-color: #ffffff;
  --background-color: #f2f0f1;
}

body {
  font-family: "Montserrat";
  font-size: 1rem;
  background: #ffffff;
  color: var(--black-color);
}

.h1 {
  font-weight: 800;
  font-size: 4rem;
  line-height: auto;
}

@media (max-width: 992px) {
  .h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 720px) {
  .h1 {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 2rem;
  }
}

p,
.text {
  color: var(--grey-color);
  font-size: 1rem;
  line-height: 1.5rem;
}

.btn {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 1rem 4rem;
  font-weight: 500;
  line-height: auto;
  cursor: pointer;
  border-radius: 1.5rem;
  border: 1px solid var(--dark-color);
  transition: all 0.4s ease 0s;

  &:hover,
  &:focus-visible {
    background-color: var(--light-color);
    border: 1px solid var(--dark-color);
    color: var(--dark-color);
  }
}

@media (max-width: 480px) {
  .btn {
    width: 100%;
  }
}

.container {
  max-width: 80rem; /* 1280px */
  padding: 0 1rem; /* 1rem = 16px */
}
