<header class="header" [class.menu-open]="openMenu">
  <div class="header__container">
    <a href="" class="header__logo"><img src="logo-small.svg" alt="Logo" /></a>
    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item" *ngFor="let menuItem of menuItems">
            <a routerLink="{{ menuItem.link }}" class="menu__link">{{
              menuItem.name
            }}</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="header__actions">
      <a href="/login" class="header__button">Login</a>
      <button
        type="button"
        class="menu__icon icon-menu"
        (click)="openMenu = !openMenu"
      >
        <span></span>
      </button>
    </div>
  </div>
</header>
